name: "Publish Documentation"

on:
  workflow_call:
    secrets:
      BOT_SK:
        required: true
      BOT_ID:
        required: true

  workflow_dispatch:

jobs:
  publish-docs-to-pages:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      # --- BUILD STEPS (Previously in Composite Action) ---
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Npm install
        run: npm ci --ignore-scripts

      - name: Build doc (Run typedoc)
        run: npm run generate:code-docs
