name: "Run typedoc and publish to pages"

on:
  workflow_call:
    secrets:
      BOT_SK:
        required: true
      BOT_ID:
        required: true

  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Typedoc Documentation
        uses: p2arthur/reusable-workflows/.github/actions/generate-docs@main

  publish-docs:
    needs: build-docs
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Publish to GitHub Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: p2arthur/reusable-workflows/.github/actions/publish-docs@main
        inputs:
          bot_id: ${{ secrets.BOT_ID }}
          bot_sk: ${{ secrets.BOT_SK }}
          artifact_path: docs/_html # Pass the specific path created by the build step
        with:
          bot_id: ${{ secrets.BOT_ID }}
          bot_sk: ${{ secrets.BOT_SK }}
          artifact_path: docs/_html # Pass the specific path created by the build step
